* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: row;
}

.logo-img {
    width: 100px;
    height: 75px;
    border-radius: 2rem 2rem;
   margin-left: 4rem;
}

.header {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid #000000;
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
    height: 100%;
    overflow: auto;
    margin: 1rem 1rem 0;

}

.input {
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    border: none;
    width: 69%;
    height: 3rem;
    padding: 0.5rem;
}

.input:focus {
    box-shadow: 0 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
    outline: none;
}

.button-header {
    border-radius: 2rem 2rem;
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
    height: 3rem;
    width: 6rem;
    border: none;
    background-color: white;
}

.button-header:hover {
    cursor: pointer;
    box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.sidebar-left {
    padding: 1rem;
    margin: 1rem;
    border: 0.1rem solid #000;
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    width: 20%;
    height: 85vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.gallery-item {
    width: 20%;
    margin: 1rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
}

.gallery-item-img {
    border-radius: 2rem 2rem 0 0;
    width: 100%;
    height: auto;
}

.gallery-item-text {
    padding: 0.7rem 0 0.7rem 0.7rem;
    font-size: 1rem;
    color: #333;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}

.gallery-item-body {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px) {
    .gallery-item {
        width: 10%;
    }

    .gallery-item {
        width: 40%;
    }
}

.button-body {
    border-radius: 2rem;
    padding: 1rem;
    margin: 0.7rem;
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
    border: none;
}

.button-body:hover {
    cursor: pointer;
    box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.sidebar-text {
    padding: 0.3rem;
    margin: 0.7rem
}

a, li, ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    color: black;
}
li{
    margin: 1rem 0;
}
